# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/quizamity_frontend/.vite/deps_temp_44ced742/package.json
/quizamity_frontend/.vite/deps/package.json
/quizamity_frontend/.vite/deps_temp_e15c50e7/_metadata.json
/.vite/deps_temp_44ced742/package.json
/.vite/deps/package.json
/.vite/deps_temp_e15c50e7/package.json
/quizamity_frontend/.vite/deps_temp_44ced742/_metadata.json
/quizamity_frontend/.vite/deps/_metadata.json
/.vite/deps_temp_e15c50e7/_metadata.json
/.vite/deps_temp_44ced742/_metadata.json
/.vite/deps/_metadata.json
/target/
