<?xml version="1.0" encoding="UTF-8"?>
<server description="Quizamity Server">

    <featureManager>
        <feature>jakartaee-10.0</feature>
        <feature>microProfile-7.0</feature>
        <feature>jdbc-4.3</feature>
        <feature>restfulWS-3.1</feature>
        <feature>servlet-6.0</feature>
        <feature>mpOpenAPI-4.0</feature>
        <feature>cors</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" httpPort="9080" httpsPort="9443"/>

    <cors domain="/quizamity-1.0-SNAPSHOT"
        allowedOrigins="http://localhost:8080"
        allowedMethods="GET, POST, PUT, DELETE, OPTIONS"
        allowedHeaders="origin, content-type, accept, authorization"
        allowCredentials="true"/> <httpEndpoint httpPort="9080" httpsPort="9443"/>

    <quickStartSecurity userName="duke" userPassword="dukeduke"/>

    <!-- PostgreSQL Datenquelle -->
    <dataSource id="PostgreSQLDS" jndiName="jdbc/quizamityDS">
        <jdbcDriver libraryRef="postgresql-lib"/>
        <properties.postgresql
                serverName="quizamity-db"
                portNumber="5432"
                databaseName="quizamity"
                user="quizuser"
                password="secret"/>
    </dataSource>

    <library id="postgresql-lib">
        <fileset dir="/config/resources" includes="postgresql-*.jar"/>
    </library>
</server>
